body{
	background: radial-gradient(circle, #AAA 45%, #FFF);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: bold 14px Arial, sans-serif;
}
#a{
		height: 25px;
		box-shadow: 0px 5px rgba(77, 61, 219, 0.2);
		margin: 0px auto;
		
		float: right;
		text-align: center;
		border-radius: 10px;
			box-shadow: 0px 10px #2D2386, 0px 10px 15px rgba(0, 0, 0, 0.9);
		}
#a:active{
	box-shadow: 0px 0px #343a9b;
	top: 4px;
}
#a:hover{
		box-shadow: 0px 4px #FFFFFF;

}
table{
	
	width: 230px;
	height: auto;
	margin: 100px auto;
	padding: 1px 10px 3px ;
	background: #646cf4;
	background: linear-gradient(#646cf4, #343a9b);
	border-radius: 8px;
	box-shadow: 0px 10px #2D2386, 0px 10px 15px rgba(0, 0, 0, 0.9);
}
input{
	background-color: #6d76ff;
	border:none;
}









